.pageTitle {
    color: darkgray;
}

.pageSubTitle {
    color: gray;
}

.redo-logo{
    width: 50px;
    height: 25px;
}

.rounded-corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.big-rounded-corners {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.small-padding-left {
    padding-left: 2% ;
}

.medium-padding-left{
    padding-left: 5% ;
}

.side-margins {
    margin-left: 1%;
    margin-right: 1%;
}

.centered-content{
    width: 50%;
    text-align: center;
    margin:0 auto;
}

.form-control {
    margin: 5px;
}

.error-message{
    color: red;
}

.small-vertical-padding {
    padding-bottom: 5px;
    padding-top: 5px;
}

.small-vertical-margin {
    margin-bottom: 5px;
    margin-top: 10px;
}

.alert{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
}



