.page-header .panel .panel-default .panel-body{
    background-color: lightcyan;
}

.pageTitle {
    color: gray;
}

.pageSubTitle {
    color: lightgray;
}

.rounded-corners{
    border-radius: 5px;
}